<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Intro SE331</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <div class="nav-bar"></h1></div>
        <div class="cart">
            Cart({{cart}})
        </div>
        <div class="product-display">
            <div class="product-container">
                <div class="product-image">
                    <!-- image goes here -->
                    <img :src="image" alt="product" />
                </div>
            </div>
        </div>

        <div class="product-info">
            <h1><a :href="'http://www.camt.cmu.ac.th'">{{product}}</a></h1>
            <p>{{description}}</p>

            <p v-if="inventory > 10">In Stock</p>
            <p v-else-if="inventory <= 10 && inventory > 0">Almost sold out!</p>
            <p v-else>Out of Stock</p>

            <p v-if="onSale">On Sale</p>
            <p v-else>Sold Out</p>

            <ul>
                <li v-for="detail in details">{{detail}}</li>
            </ul>

            <div v-for="variant in variants" :key="variant.id">
                {{variant.color}}
            </div>

            <p></p> <!-- Empty space between color and size-->

            <div v-for="size in sizes" :key="size.id">
                {{size.size}}
            </div>

            <button class="button" v-on:click="addToCart">Add to Cart</button>

        </div>
    </div>

    <!-- Import Js -->
    <script src="./main.js"></script>
</body>

</html>